.servicebooking{
    /* border: 2px solid hotpink; */
    /* width: 80rem; */
}

.title{
    /* border: 2px solid green; */
    margin-left: 53rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #292355;
}

.service-card{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid lawngreen; */
}

.service-card1{
    /* border: 2px solid red; */
    width: 17rem;
    height: 26rem;
}

@media screen and (max-width:2100px){
    .title{
        margin-left: 21.5rem;
    }
}

@media screen and (max-width:1460px){
    .title{
        margin-left: 13.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1130px){
    .service-card1{
        width: 13rem;
        height: 20rem;
    }
}

@media screen and (max-width:930px){
    .title{
        margin-left: 10rem;
    }

    .service-card1{
        width: 10rem;
        height: 15rem;
    }
}

@media screen and (max-width:700px){
    .title{
        font-size: 1rem;
        display: flex;
        justify-content: center;
        margin-left: 0rem;
    }

    .service-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid lawngreen; */
    }
}