.servicecard{
    /* border: 2px solid black; */
    margin: 2rem;
    margin-top: 1rem;
    /* padding: 1rem; */
    width: 6rem;
    height: 5rem;
    /* width: fit-content; */
}

.overlap{
    position: relative;
}

.under {
    position: absolute;
    left: 0;
    top: 0;
    height: 15rem;
    z-index: -1;
}

.rectangle {
    position: absolute;
    left: 0.5rem;
    top: 13rem;
    height: 6.5rem;
    z-index: -1;
}

.over {
    /* border: 2px solid gold; */
    position: relative;
    left: 1.45rem;
    top: 13.6rem;
    width: 5rem;
    height: 4.5rem;
    z-index: -1;
}

.btn {
    /* border: 2px solid tan; */
    width: 5rem;
    position: relative;
    left: 8.5rem;
    top: 11.5rem;
    /* z-index: -1; */

    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #446037;
    font-size: 0.8rem;
    font-weight: bold;
    background: #D9D9D9;
    padding: 2px 0px 2px 5px;
    text-decoration: none;
  }
  
  .btn:hover {
    cursor: pointer;
  }

  
.heading {
    /* border: 2px solid greenyellow; */
    width: 16.5rem;
    position: relative;
    left: 0.8rem;
    top: 14rem;
    font-size: 1.2rem;
    color: #646464;
}

@media screen and (max-width:1130px){
    .under {
        height: 12rem;
    }

    .rectangle {
        top: 10.5rem;
        height: 3.5rem;
    }

    .over {
        position: relative;
        left: 0.9rem;
        top: 10.6rem;
        width: 3rem;
        height: 3rem;
    }

    .btn {
        width: 4rem;
        left: 5.6rem;
        top: 9.5rem;
        font-size: 0.6rem;
    }

    .heading {
        width: 16rem;
        top: 10.2rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width:930px){
    .under {
        height: 8rem;
    }

    .rectangle {
        top: 7rem;
        height: 3.5rem;
    }

    .over {
        top: 7.2rem;
        width: 3rem;
    }

    .btn {
        width: 3.2rem;
        left: 4.8rem;
        top: 5.5rem;
        font-size: 0.5rem;
    }

    .heading {
        top: 6.5rem;
        font-size: 0.7rem;
    }
}